/* 에니메이션 넣기 */

@keyframes fadeIn{
    from{ opacity: 0;}
    to {opacity: 1;}
}
@keyframes fadeOut{
    from{ opacityt: 1;}
    to {opacity: 0;}
}
@-webkit-keyframes fadeIn{
    from{ opacity: 0;}
    to {opacity: 1;}
}
@-webkit-keyframes fadeOut{
    from{ opacityt: 1;}
    to {opacity: 0;}
}