#qna{
    display: none;
}

.qBox{
    background-color: whitesmoke;
    text-align: center;
    border-radius: 20px;
    font-size: 20px;
    width: 80%;
}

.answerList{
    background-color: whitesmoke;
    border-radius: 20px;
    display: block;
    width: 80%;
    border: 0px;
}
.answerList:hover, .answerList:focus{
    background-color: pink;
    color: whitesmoke;
    font-size: 20px;

}